# Add your Groq API key here:
GROQ_API_KEY=your-groq-api-key-here

# Supabase Auth
NEXT_PUBLIC_SUPABASE_URL=https://jspudmjhsqdbduabjjwu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_laa58c_YJ7Yu0dQWtFag3A_jjSG0uvZ
